.header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: 1px;
	height: 120px;
	background-color: #191970;
	margin-bottom: 10px;
	border-radius: 10px;
}


.menu {
	list-style-type: none;
	float: left;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	margin-left: 30px;
}

.menu a{
	display: block;
	width: 120px;
	color: white;
}

.menu  a:hover {
	font-weight: bold;
}

#titre {
	padding-top: 5px;
	font-size: 150%;
	font-family: Verdana, sans-serif;
	color: #ffffff;
	text-align: center;
}

.content {
	position: relative;
	float: left;
	margin-top: 120px;
	margin-left:auto;
	margin-right:auto;
	width: 90%;
	margin-bottom: 10px;
	clear: both;
}

.content table, td, th, tr{
	border: 1px solid black;
	border-collapse:collapse;
}
