<!DOCTYPE html>
<head>
	<title>edition d'un lien</title>
<style>
table, th, td
{
}
th, td
{
padding:5px;
}
</style>
</head>

<body>
	<h1>Mise à jour d'un lien</h1>

	{% if edit %}
	<form method='POST'>
	<table>
	<tr><td>Name: </td><td><input type="text" name="name" value="{{edit.name}}"></td></tr>
	<tr><td>Episode: </td><td><input type="text" name="last_episode" maxlength="2" value="{{edit.last_episode}}"></td></tr>
	<tr><td>Link: </td><td><input type="text" name="link" size="100"value="{{edit.link}}"></td></tr>
	</table>

	<p></p>

	<table>
	<tr><td><input type="submit" name="cancel" value="Annuler"></td></tr>
	<tr><td><input type="submit" name="valider" value="Valider"></td></tr>
	</form>
	<form action="/" method='POST'>
	<tr><td><input type="submit" name="home" value="Accueil"></td></tr>
	</table>
	</form>
	{% endif %}

	{% if message %}
	<h2>{{ message }}</h2>
	{% endif %}
</body>
</html>
