<!DOCTYPE html>
<html>
<head>
	<title>zone telechargement status</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
	<link rel="shorcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
	<header>
		<div class="header">
			<h1 id="titre">interface zone telechargement</h1>
			<div class="menu">
				<ul>
					<li><a href="{{ url_for('main') }}">Accueil</a></li>
					<li><a href="{{ url_for('new_entry') }}">Nouveau lien</a></li>
					<li><a href="{{ url_for('edit_config') }}">Configuration</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="content">
	{% block content %}
	{% endblock %}
		{% if message %}
			{% for line in message %}
				<h2>{{ line }}</h2>
			{% endfor %}
		{% endif %}
	</div>
</body>
</html>
