<!DOCTYPE html>
<html>
<head>
	<title>zone telechargement status</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
	<link rel="shorcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
	<header>
		<div class="header">
			<p id="titre">interface zone telechargement</p>
			<div class="menu">
				<ul>
				<li class="menu"><a class="menu" href="{{ url_for('main') }}">Accueil</a></li>
				<li class="menu"><a class="menu" href="{{ url_for('new_entry') }}">Nouveau lien</a></li>
				<li class="menu"><a class="menu" href="{{ url_for('main') }}">Config (a implémenter)</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>
