{% extends "layout.html" %}
{% block content %}
	<h1>Status des liens</h1>
	{% if series %}
	<table>
	<tr>
		<th>Serie</th>
		<th>Lien</th>
		<th>Dernier</th>
		<th>Edit</th>
	</tr>
	{% for serie in series %}
	<tr>
		<td>{{ series[serie].name }}</td>
		<td><a href="{{ series[serie].link }}">{{ series[serie].link }}</a></td>
		<td style="text-align:center;">{{ series[serie].last_link }}</td>
		<td style="text-align:center;"><a href="{{ url_for('main') }}{{ series[serie].name }}">Editer</a></td>
	</tr>
	{% endfor %}
	</table>
	{% else %}
	<h2> No series in file </h2>
	{% endif %}

	<p></p>
	<form method='POST'>
		<input type="submit" name="check_now" value="vérifier">
	</form>
{% endblock %}
