{% extends "layout.html" %}
{% block content %}
	<h1>Ajouter lien</h1>

	<form method='POST'>
	<table>
	<tr><td>Name: </td><td><input type="text" name="name" value="{{name}}"></td></tr>
	<tr><td>Episode: </td><td><input type="number" min="0" max="30" name="last_episode" maxlength="2" value="{{last_episode}}"></td></tr>
	<tr><td>Link: </td><td><input type="text" name="link" size="100" value="{{link}}"></td></tr>
	</table>

	<p></p>

	<table>
	<tr><td><input type="submit" name="cancel" value="Annuler"></td></tr>
	<tr><td><input type="submit" name="valider" value="Valider"></td></tr>
	</form>
	</table>

	{% if message %}
	<h2>{{ message }}</h2>
	{% endif %}
{% endblock %}
